<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="theme-color" content="{{ site.color }}">
  <meta name="msapplication-TileColor" content="{{ site.color }}">

  <link href="/LICENSE.txt" rel="license">
  <link href="/site.webmanifest" rel="manifest">
  <link href="/assets/css/default.css?v={{ site.github.build_revision }}" rel="stylesheet">

  {% seo title=false %}

  <title>{% if page.title %}{{ page.title }} | {% endif %}kanji.js</title>
</head>

<body>
  <header class="Header d-block d-md-flex">
    <div class="Header-item my-2 my-md-0">
      <a href="{{ site.github.url }}" class="Header-link d-flex flex-items-center">
        <span class="f4">kanji.js</span>
      </a>
    </div>

    {% include navlinks.html %}

    <div class="Header-item my-2 my-md-0">
      <a href="{{ site.github.repository_url }}" class="Header-link btn-octicon">
        {% octicon mark-github %}
      </a>
    </div>

    <div class="Header-item my-2 my-md-0">
      <a href="{{ site.github.latest_release.zipball_url }}" class="btn btn-primary" role="button" download>
        {% octicon arrow-down height:20 class:'mr-2' %}
        <span>Download {{ site.github.latest_release.tag_name }}</span>
      </a>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

  <footer class="d-flex py-5">
    <span class="text-gray mx-auto">Copyright &copy; 2020, <a href="{{ site.github.owner.blog }}">@{{ site.github.owner.login }}</a></span>
  </footer>
</body>
</html>
